body {
    padding-top: 36px;
}

section {
    padding-top: 25px;
    padding-bottom: 15px;
    min-height: 100vh;
}

section#contato {
    min-height: 80vh;
}

footer {
    padding-top: 5px;
    padding-bottom: 5px;
    background: url(../imagem/madeira2.jpg);
}

.linhaCinza {
    background: gray;
}

.linhaVermelha {
    background: red;
}

.bg-color-padding p {
    padding: 15px;   
}

.divslider {
    padding-top: 15px;
    padding-bottom: 15px;
    background: url(../imagem/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.div_colorida {
    background: url(../imagem/madeira2.jpg);
    background-size: cover;
}

.servicos_item {
    text-align: center;
}

.servicos_item h4 {
    margin-top: 20px;
    font-size: 20px; 
}

.servicos_btn_todososservicos{
    margin-top: 25px;   
}

.portifolio_item {
    background: white;
}

.portifolio_row {
    margin-bottom: 20px;
}

.portifolio_item h4 {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

#imgCinza{
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
}

#imgColorida{
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
    filter: url("data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="\'grayscale\'"><feColorMatrix type="\'matrix\'" values="" 0\'="" 1="" 0="" 0.3333="" /></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%);
     
}
 
#imgColorida:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
}
 
#imgCinza{
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
}
 
#imgCinza:hover{
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
    filter: url("data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="\'grayscale\'"><feColorMatrix type="\'matrix\'" values="" 0\'="" 1="" 0="" 0.3333="" /></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.contato textarea {
    height: 170px;
}

.contato .aviso {
    padding: 15px;
}

.form-login{
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
}

.form-login input{
    margin-bottom: 8px;
}

.chata {
    margin-bottom: 0px;
}

.estilo {
 color: white!important;   
}

.estilov {
    background-color: #4c0202!important;
    border-color: #690e0e!important;
}

.dropdown-menu>li>a:hover {
    background-color: #860000;
}

.navbar-default .navbar-brand:hover {
    background-color: #860000;
}

.panel {
    margin-bottom: 0px;
}

.conteudo_painel {
    background: white;
    border-radius: 8px;
    border:1px solid #eee;
    box-shadow: 5px 5px 5px #c10000;
}

.conteudo_painel_int {
    padding: 12px;
}

.alert-success {
    color: #05ff09;
    background-color: #000000;
    border-color: #ff0000;
}

.alert-warning {
    color: #ffa100;
    background-color: #000000;
    border-color: #ff0000;
}

.nav-pills>li>a {
        margin-bottom: 5px;
        margin-right: 2px;
    }

@media all and (max-width: 484px){
    .nav-pills>li>a {
        border-radius: 4px;
        margin-bottom: 6px;
        margin-right: 80px;
    }
}

@media all and (max-width: 767px){
    .xxx {
        margin-bottom: 8px;
    }
}